**/*__pycache__/*
*.env
env_vars*
credentials*
scripts/checkpoints/*
data/results/*
data/train/*
data/preprocess/*
data/masks/*
.ipynb_checkpoints
**/build/*
*.index
checkpoint*
events*
*.log
training*
predictions_*